html
  head
    title= "Q&A App"
    style
      include ../build/css/build.css
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script
      include ../js/script.js
    script(src='http://localhost:3000/socket.io/socket.io.js')
  body
div.container
  h1= "Discussions"
    form
      div.input
        input(type = "text", id = "discussionName" class='inputfield' placeholder = "Your discussion comes here")
        div(type = "submit", id = "submitDiscussion" class='flat-button') Post a new discussion
      ul.discussions
        each discussion in discussions
          a(href = '/discussions/' + discussion._id)
            h2.discussion #{discussion.discussion}