html
  head
    title= "Q&A App"
  body
    h1= "Les Node.js"
    
form(name="add-estimation", method="post")
    div.input
        input(type="text", name="vraag" placeholder="Stel hier je vraag")
        div.actions
        input(type="submit", value="Vraag stellen")